{% extends "__bootstrap.html" %}
{% block __bootstrap__body %}
  <ol class="breadcrumb" style="margin-bottom:40px">
    <li><a href="/">Home</a></li>
    <li><a href="/{{ problemset }}/">{{ problemset }}</a></li>
    <li class="active">{{ problem }}</li>
  </ol>
  <blockquote class="blockquote"><b>Problem Description</b></blockquote> 
  <blockquote class="blockquote" style="margin-bottom:40px">{{ descrpition|markdown }}</blockquote>
  <p><strong>Upload file to check (Only .py or .txt file accepted)</strong></p>
  <form method="POST" enctype="multipart/form-data" action="{{ submit_url }}">
    <input type="file" id="fileupload" class="file" name="upfile">
  </form>
{% endblock %}

{% block __bootstrap__script %}
  <link href="/static/bootstrap-fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
  <script src="/static/bootstrap-fileinput/js/fileinput.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#fileupload').fileinput({
          'showPreview': false,
          'showCancel': false,
          'allowedFileExtensions': ['py','txt'],
          'layoutTemplates': {progress:''},
          });
      $('#fileupload').on('fileuploaded', function(event, data, previewId, index) {
          var form = data.form, files = data.files, extra = data.extra,
          response = data.response, reader = data.reader;
          console.log('File uploaded triggered');
          });
    });
  </script>
{% endblock %}
